.container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.userAdding {
    width: 100%;
}

.searchBox {
    width: 50%;
    float: left;
}

.usersAdded {
    width: 50%;
    float: left;
}