* {
    line-height: 1;
}

.contentsWrapper {
    min-height: 100vh;
}

.banner {
    width: 100%;
    padding-left: 8%;
    padding-right: 5%;
    box-sizing: border-box;
    height: 500px;
    line-height: 1;
}

.bannerLeft {
    float: left;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}

.bannerLeft button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.bannerRight {
    float: left;
    width: 60%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.mainPhoto {
    width: 100%;
    height: 100%;
    transition: transform 0.5s linear;
}

.mainPhoto:hover {
    transform: scale(1.02);
}

.tabsContainer {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex-grow: 1;
}

.footer {
    flex-shrink: 0;
    display: block;

}

.panel {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.icon {
    font-size: 64px;
    display: block;
    margin: 0 auto;
}