* {
    line-height: 1;
}

.banner {
    width: 100%;
    padding-left: 8%;
    padding-right: 5%;
    box-sizing: border-box;
    height: 500px;
    line-height: 1;
}

.bannerLeft {
    float: left;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}

.bannerLeft button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.bannerRight {
    float: left;
    width: 60%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.mainPhoto {
    width: 100%;
    height: 100%;
    transition: transform 0.5s linear;
}

.mainPhoto:hover {
    transform: scale(1.02);
}

.tabsContainer {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}