.navContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.logoContainer {
    flex: 0 0 auto;
}

.menuContainer {
    flex: 1;
    display: flex;
}

.appLogo {
    width: 70px;
    height: 70px;
    float: left;
}

.appName {
    font-size: 30px;
    float: left;
    font-weight: bold;
    margin: 15px;
}

.navMenu {
    float: left;
    height: 70px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.navMenu ul {
    float: left;
    list-style-type: none;
}

.navMenu ul li {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

nav {
    width: 100%;
    height: 70px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.menuToggle {
    display: none;
    cursor: pointer;
}

.navButtons {

}

.drawer {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 5vw;
    box-sizing: border-box;
}

.drawerLinks {
    flex: 0 0 auto;
}

.drawerLinks ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0;
}

.drawerLinks ul li {
    margin-top: 10px;
    text-align: center;
}

.drawerButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

@media screen and (max-width: 1250px) {
    .menuContainer {
        display: none;
    }

    .drawerLinks ul {
        text-decoration: none;
    }

    .menuToggle {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .navButtons {
        display: none;
    }
}